body {

  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(1.4rem, 1.6vw, 1.7rem);
  width: 100%;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 4rem auto;
  width: min(92%, 800px);
}

.mb-30 {
  margin-bottom: clamp(1.5rem, 2vw, 3rem);
}

.mb-60 {
  margin-bottom: clamp(3rem, 4vw, 6rem);
}