.container img {
  margin-bottom: 1rem;
}

.container .info {
  display: flex;
  justify-content: space-between;
}

.container .info .categories {
  display: flex;
  justify-content: space-between;
}

.container .info .categories p {
  border: 1px solid #57d0d4;
  border-radius: 3px;
  color: #57d0d4;
  padding: 0.3em 0.5em;
  margin: 0;
}

.container .info .categories p:first-child {
  margin-right: 0.5rem;
}